* {font-family: 'Overlock', cursive;color:#333;}
a {color: #333;text-decoration:none;}
a:hover {color: #888;text-decoration:underline;}
body {background-image:url('/static/img/blue.jpg');background-size:cover;}
#logo {position:absolute;top:0px;left:210px;width:125px;height:170px;background-image:url('/static/img/logo.png');background-size:cover;}
#outer {position:absolute; left:0px; top:0px; min-width:99%;}
#container {width:810px;margin: 0 auto;}
#header {height:200px;}
#title {width:100%;height:50px;text-align:center;}
#menu {text-align:center;height:40px;margin-top: 80px;}
#menufooter {text-align:center;height:30px;margin-top: 80px;}
.footeritem {display:inline-block;vertical-align: middle;}
#content {background-color: #ffffff;}
#sidebar {background-color: #ffffff;margin-top: 25px;height: 250px;}
#footer {background-color: #ffffff;margin-top: 25px;font-size: 12px;}
#loginForm {margin-top:5px;width:19%;height:90px;position:absolute;top:0px;right:0px;font-size:10px;text-align:right;}
#loginForm input, select, textarea {font-size:10px;}
.menuitem {display:inline-block;width:100px;vertical-align: middle;}
#menucategorias {text-align:center;padding: 25px;}
.cat {margin:10px;}
.prod {margin:10px;width:165px;height:295px;display:inline-block;}

#ramos {background-image:url('/static/img/ramos1.jpg');width:165px;height:295px;display:inline-block;}
#ramos:hover {background-image:url('/static/img/ramos2.jpg');width:165px;height:295px;display:inline-block;}
#rosas {background-image:url('/static/img/rosas1.jpg');width:165px;height:295px;display:inline-block;}
#rosas:hover {background-image:url('/static/img/rosas2.jpg');width:165px;height:295px;display:inline-block;}
#cestas {background-image:url('/static/img/cestas1.jpg');width:165px;height:295px;display:inline-block;}
#cestas:hover {background-image:url('/static/img/cestas2.jpg');width:165px;height:295px;display:inline-block;}
#cristal {background-image:url('/static/img/cristal1.jpg');width:165px;height:295px;display:inline-block;}
#cristal:hover {background-image:url('/static/img/cristal2.jpg');width:165px;height:295px;display:inline-block;}
#plantas {background-image:url('/static/img/plantas1.jpg');width:165px;height:295px;display:inline-block;}
#plantas:hover {background-image:url('/static/img/plantas2.jpg');width:165px;height:295px;display:inline-block;}
#nacimientos {background-image:url('/static/img/nacimientos1.jpg');width:165px;height:295px;display:inline-block;}
#nacimientos:hover {background-image:url('/static/img/nacimientos2.jpg');width:165px;height:295px;display:inline-block;}
#bodas {background-image:url('/static/img/bodas1.jpg');width:165px;height:295px;display:inline-block;}
#bodas:hover {background-image:url('/static/img/bodas2.jpg');width:165px;height:295px;display:inline-block;}
#coronas {background-image:url('/static/img/coronas1.jpg');width:165px;height:295px;display:inline-block;}
#coronas:hover {background-image:url('/static/img/coronas2.jpg');width:165px;height:295px;display:inline-block;}

#sidebarcontainer {padding: 25px;margin: 12px;}
#calendario {background-image:url('/static/img/calendario1.jpg');width:355px;height:200px;display:inline-block;}
#calendario:hover {background-image:url('/static/img/calendario2.jpg');width:355px;height:200px;display:inline-block;}

