<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Ohana Garden</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <link href="/static/css/ddmenu.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Overlock' rel='stylesheet' type='text/css' />
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png" />
    <script src="/static/js/ddmenu.js" type="text/javascript"></script>
  </head>
  <body>
<!-- facebook box -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- facebook box -->


    <div id="outer">
	    <div id="container">
	      <div id="header">
	        <a href=""><div id="logo"></div></a>
	        <div id="title"><h1>Ohana Garden</h1>
	        </div>
	        <div id="ddmenu">
    <ul>
        <li><a href="#">Productos</a></li>
        <li><a href="#" class="red">Ofertas</a></li>
        <li><a href="#">Entrega</a></li>
        <li><a href="#">Consejos</a></li>
        <li><a href="#">Calendario Socios</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>
	        </div>
	      </div>
	      <div id="content">
	        {% block content %}{% endblock content %}
	      </div>
	      <div id="sidebar">
	      	<div id="sidebarcontainer">
	      		<a href="#"><div id="calendario"></div></a>
	      		
<div class="fb-like-box" data-href="http://www.facebook.com/pages/ohana-garden/435200869902434" href="http://www.facebook.com/pages/ohana-garden/435200869902434"
 data-width="355" data-height="200" data-show-faces="true" data-stream="true" data-header="true"></div>	      		

	      	</div>
	        {% block sidebar %}{% endblock sidebar %}
	      </div>
	    </div>
	      <div id="footer">
	        <div id="menufooter">
	          <div class="footeritem">Quiénes somos&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</div>
	          <div class="footeritem">Condiciones&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</div>
	          <div class="footeritem">Aviso legal&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</div>
	          <div class="footeritem">Preguntas frecuentes&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;</div>
	          <div class="footeritem">Síguenos en facebook</div>
	        </div>
	      </div>
    </div>

  </body>
</html>
