{% extends 'base.html' %}
{% load url from future %}
{% block content %}
<div id="menucategorias">
    {% for product in products %}
    <a href="{% url "order" product.slug %}">
        <div id="{{ product }}" class="prod" style="background-image:url('{{ product.images.all.0.get_image_url }}');"></div>
    </a>
    {% endfor %}
</div>
{% endblock content %}
