{% extends 'base.html' %}
{% block content %}
<div id="menucategorias">
    <a href="/ramos/"><div id="ramos" class="cat"></div></a>
    <a href="/rosas/"><div id="rosas" class="cat"></div></a>
    <a href="/cestas/"><div id="cestas" class="cat"></div></a>
    <a href="/cristal/"><div id="cristal" class="cat"></div></a><br />
    <a href="/plantas/"><div id="plantas" class="cat"></div></a>
    <a href="/nacimientos/"><div id="nacimientos" class="cat"></div></a>
    <a href="/bodas/"><div id="bodas" class="cat"></div></a>
    <a href="/coronas/"><div id="coronas" class="cat"></div></a>
</div>
{% endblock content %}
