{% extends 'base.html' %}
{% block content %}
<div id="menucategorias">
    <a href="/{{ category }}/{{ product.slug }}/">
        <div id="{{ product }}" class="prod" style="background-image:url('{{ product.images.all.0.get_image_url }}');"></div>
    </a>
</div>
{% endblock content %}
